<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <!-- <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="logo" width="264" height="78"></a> -->
            <img style="filter: invert(1);width: 15rem;"src="/assets/images/safehouse.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Common Pests</h2>
                    </li>
                    <li class="cs-drop-li"><a href="/miceandrats" class="cs-li-link cs-drop-link">Mice/Rats</a></li>
                    <li class="cs-drop-li"><a href="/ants" class="cs-li-link cs-drop-link">Ants</a></li>
                    <li class="cs-drop-li"><a href="/cockroaches" class="cs-li-link cs-drop-link">Cockroaches</a></li>
                    <li class="cs-drop-li"><a href="/termites" class="cs-li-link cs-drop-link">Termites</a></li>
                    <li class="cs-drop-li"><a href="/spiders" class="cs-li-link cs-drop-link">Spiders</a></li>
                    <li class="cs-drop-li"><a href="/waspsandhornets" class="cs-li-link cs-drop-link">Wasps/Hornets</a></li>
                    <li class="cs-drop-li"><a href="/mosquitoes" class="cs-li-link cs-drop-link">Mosquitoes</a></li>
                    <li class="cs-drop-li"><a href="/squirrels" class="cs-li-link cs-drop-link">Squirrels</a></li>
                    <li class="cs-drop-li"><a href="/nuisance-wildlife" class="cs-li-link cs-drop-link">Nuisance Wildlife</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li class="cs-drop-li"><a href="/pest-and-termite-control" class="cs-li-link cs-drop-link">Pest & Termite Control</a></li>
                    <li class="cs-drop-li"><a href="/rodent-exclusion" class="cs-li-link cs-drop-link">Rodent Exclusion</a></li>
                    <li class="cs-drop-li"><a href="/insulation-and-storage" class="cs-li-link cs-drop-link">Insulation & Storage</a></li>
                    <li class="cs-drop-li"><a href="/leaf-stoppers" class="cs-li-link cs-drop-link">Leaf-Stoppers</a></li>
                    <li class="cs-drop-li"><a href="/crawlspace-vapor-barriers" class="cs-li-link cs-drop-link">Crawlspace Vapor Barriers</a></li>
                    <li class="cs-drop-li"><a href="/mosquito-control" class="cs-li-link cs-drop-link">Mosquito Control</a></li>
                </ul>
                
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://betterwebsite.ai" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
