---
title: 'Al''s Home and Pest | Home | Tulsa OK'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1858">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Al's Home & Pest</span>
            <h1 class="cs-title">Call/Text Now For $0 Home Inspection!</h1>
            <p class="cs-text">
                Professional Extermination and Home Improvement Services at Affordable Prices
            </p>
            <div class="cs-button-group">
                <a class="cs-button-solid cs-button1" href="tel:{{client.phoneForTel}}">Call Now</a>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/wasps.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/wasps.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/wasps.jpg" alt="icon" width="48" height="48">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">About Common Pests</h3>
                    <p class="cs-item-text">
                        We take care of common pests and unwanted visitors.
                    </p>
                    <a href="/" class="cs-link">
                        Common Pests
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-red.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/service.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/service.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/service.jpg" alt="icon" width="48" height="48">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Services We Provide</h3>
                    <p class="cs-item-text">
                        Get started today for a free home-inspection and consultation
                    </p>
                    <a href="/" class="cs-link">
                        Our Services
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-red.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/hero.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                

   <!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1791">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">Transparent Prices</h2>
            </div>
            <!-- <a href="" class="cs-button-solid">Book Appointment</a> -->
        </div>
        <div class="cs-wrapper">
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="24" height="24">
                    Pest/Termite Control
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="24" height="24">
                    Mosquito Control
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="24" height="24">
                    Attic Insulation / Storage
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="24" height="24">
                    Leaf-Stoppers
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="24" height="24">
                    Vapor Barriers
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="24" height="24">
                    And Much More!
                </li>
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-package">Home Inspection</span>
                    <div class="cs-flex-wrapper">
                        <span class="cs-price">Free</span>
                        <span class="cs-frequency">
                            
                        </span>
                    </div>
                    <p class="cs-item-text">
                        Call now and we will come inspect your home for free!
                    </p>
                    <a class="cs-button-solid cs-price-button" href="tel:{{client.phoneForTel}}">Call Now</a>
                </li>
                <li class="cs-item cs-popular">
                    <span class="cs-package">Monthly Services</span>
                    <div class="cs-flex-wrapper">
                        <span class="cs-price">$39.99</span>
                        <span class="cs-frequency">
                            /Month
                        </span>
                    </div>
                    <p class="cs-item-text">
                        Our Monthly Services start at $39.99. Additional costs may be included for extra Services.
                    </p>
                    <a class="cs-button-solid cs-price-button" href="tel:{{client.phoneForTel}}">Call Now</a>
                </li>
                <!-- <li class="cs-item">
                    <span class="cs-package">Monthly Pass</span>
                    <div class="cs-flex-wrapper">
                        <span class="cs-price">$149.99</span>
                        <span class="cs-frequency">
                            /Month
                        </span>
                    </div>
                    <p class="cs-item-text">
                        This month to month option allows you to workout up to four times a month. Reservation needed four timed.
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- SVG Graphic -->
    <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-texture.svg" alt="graphic" height="1920" width="483" loading="lazy" decoding="async" aria-hidden="true">
    <!--Dark mode graphic, download and save locally, then open the file in your code editor and change the fill color to match the background color of the section below it on dark mode-->
    <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-spatter.svg" alt="graphic" height="1920" width="483" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                
    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Review Text goes here. For now this is just filler information for demo.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        Review Text goes here. For now this is just filler information for demo.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a aria-label="read more reviews" href="/about" class="cs-button-solid">About Us</a>
        </div>
    </section>

{% endblock %}